@model CatalogVM;
@{
    ViewData["Title"] = "Home Page";
}

<div class="row p-5 bg-light mt-4">
    <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="d-grid">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Categories
            </button>
        </div>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9">
        <form action="/Home/FilterBySearch" method="post">
            <div class="input-group">
                <input type="text" class="form-control" name="value" autocomplete="off" placeholder="What are you looking for?"/>
                <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>

    </div>
</div>

@if (Model.filterBy != "" && Model.filterBy != null)
{
    <div class="row bg-light p-2 mt-2">
        <div class="col-sm-12">
            @Model.filterBy
        </div>
    </div>
}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 py-4">
    @foreach (var p in Model.Products)
    {
        <div class="col">
            <div class="card shadow-sm">
                <img class="card-img-top" src="~/images/@p.ImageName" alt="..." />
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder">@p.Name</h5>
                        @p.Price.ToString("C2")
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="/Home/ProductDetail?id=@p.ProductId" role="button">View Detail</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Categories</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-2 g-2">
                    <div class="col d-grid">
                        <a class="btn btn-outline-dark"
                           asp-controller="Home" asp-action="FilterByCategory"
                           asp-route-id="0"
                           asp-route-name="All Categories">
                            All Categories
                        </a>
                    </div>
                    @foreach (var category in Model.Categories)
                    {
                        <div class="col d-grid">
                            <a class="btn btn-outline-dark"
                               asp-controller="Home" asp-action="FilterByCategory"
                               asp-route-id="@category.CategoryId"
                               asp-route-name="@category.Name">
                                @category.Name
                            </a>
                        </div>
                    }
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>